<%= form_for(:temporary_file, url: import_sales_path, multipart: true) do |f| %>
<div class="field">
  <%= f.file_field(:bin) %>
</div>
<div class="field">
  <%= f.submit('Importar') %>
</div>
<% end %>
